/*
CSS Reset Beginning
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
CSS Reset Ending
*/
header{
    display: inline-block;
    width: 100%;
}
a{
    text-decoration: none;
}
html{
    box-sizing: border-box;
}
header{
    padding: 30px 20px;
    font-size: 20px;
    font-weight: 600px;
}
header:after{
    content: "";
    display: table;
    clear: both;
}
header a{
    text-decoration: none;
    color: #4C44C1;
}
header .logo{
    display: inline-block;
    float: left;
    margin-right: 24px;
    
}
header .logo span{
    width: 30%;
    float: left;
}
header .logo span img{
    width: 80px;
    height: 60px;
}
header .menu-buttons{
    width: 40%;
    display: inline-block;
}
header .menu-buttons a{
    display: inline-block;
    margin-left: 20px;
}
header .header-buttons{
    width: 30%;
    display: inline-block;
    float: right;
    
}
header .blue-btn{
    background: #4C44C1;
    padding: 10px 40px;
    color: white;
    border-radius: 35px;
    text-transform: uppercase;
    position: relative;
}
header .orange-btn{
    background: #FEA83B;
    padding: 10px 40px;
    color: white;
    border-radius: 35px;
    text-transform: uppercase;
    position: relative;
}